
html {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

.background {
  height: 31rem;
  width: 100%;
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 960px;
  height: 3.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}

header .container {
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  border: 1px black dotted;
}

header p {
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  border: 1px black solid;
}

.logo img {
  height: 1.5rem;
}

.logo p {
  padding-left: 1rem;
}

nav {
  display: flex;
  align-items: center;
  border: 1px black solid;
}

nav p {
  padding-left: 2rem;
}

.tagline-container {
  width: 57.33rem;
  margin-top: 10rem;
  display: flex;
  justify-content: flex-end;
  /* border: 1px black dotted; */
}

.tagline {
  background-color: white;
}

.tagline p {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  color: black;
}

.white-container {
  height: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px black solid;
}

.services-wrap {
  height: 8rem;
  width: auto;
  margin-top: 3rem;
  border: 2px black dotted;
  display: flex;
}

.exams img {
  width: 3.5rem;
}

.service {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
