
html {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

.background {
  height: 31rem;
  width: 100%;
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  width: 960px;
  height: 3.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}

header .container {
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  border: 1px black dotted;
}

header p {
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  border: 1px black solid;
}

.logo img {
  height: 1.5rem;
}

.logo p {
  padding-left: 1rem;
}

nav {
  display: flex;
  align-items: center;
  border: 1px black solid;
}

nav p {
  padding-left: 2rem;
}

.tagline-container {
  width: 57.33rem;
  margin-top: 10rem;
  display: flex;
  justify-content: flex-end;
  /* border: 1px black dotted; */
}

.tagline {
  background-color: white;
}

.tagline p {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  color: black;
}

.white-container {
  height: 40rem;
  width: 100%;
  border: 2px black solid;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-wrap {
  height: 8rem;
  margin-top: 3rem;
  border: 2px black dotted;
  display: flex;
}

.service {
  height: 100%;
  justify-content: space-between;
  border: 1px black solid;
}

.exams img {
  width: 3.5rem;
}

.fittings img, .delivery img {
  width: 5rem;
}

.fittings {
  margin-left: 6rem;
  margin-right: 6rem;
}

.text-wrap {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px black dashed;
}

.label-and-text {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}

.label {
  width: 10rem;
  background-color: cadetblue;
}

.label p {
  font-weight: bold;
  color: white;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text {
  margin-top: 1rem;
  max-width: 19rem;
}

.text p {
  line-height: 1.4;
}

#appointments {
  margin-left: 4rem;
}

footer {
  width: 960px;
  height: 9.5rem;
  background-color: azure;
  margin-top: 5rem;
}

footer .logo {
  margin-top: 4rem;
  margin-left: 4rem;
}

@media only screen and (max-width: 1024px) {
  header {
    width: 100%;
    margin-top: 0;
  }

  .tagline-container {
    margin-top: 5rem;
    border: 1px black dotted;
  }

  .tagline {
    margin-right: 2rem;
  }

  .tagline p {
    font-size: 1.33rem;
    line-height: 1.2;
    padding: .75rem 4rem;
  }
}
